.card {
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #EFECE7; /* Fondo */
    width: 30%;
    margin: 10px;
  }
  .card_title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #394C60; /* Color del título */
  }
  
  .card_body {
    font-size: 1rem;
    line-height: 1.5;
    color: #A38970; /* Color del contenido */
  }
  .card_name{
    font-size: 1.25rem;
    line-height: 1.5;
    color: #A38970;
  }
  
  
  